.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
}
.container,
.container * {
  box-sizing: border-box;
}
.container *:before,
.container *:after {
  box-sizing: border-box;
}
.container:before,
.container:after {
  content: " ";
  display: table;
}
.container:after {
  clear: both;
}
@media (min-width: 668px) {
  .container {
    max-width: 758px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 950px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1180px;
  }
}
.container-fluid {
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
}
.container-fluid:before,
.container-fluid:after {
  content: " ";
  display: table;
}
.container-fluid:after {
  clear: both;
}
.row {
  margin-left: -10px;
  margin-right: -10px;
}
.row:before,
.row:after {
  content: " ";
  display: table;
}
.row:after {
  clear: both;
}
.col-xxs-1, .col-xxs-2, .col-xxs-3, .col-xxs-4, .col-xxs-5, .col-xxs-6, .col-xxs-7, .col-xxs-8, .col-xxs-9, .col-xxs-10, .col-xxs-11, .col-xxs-12, .col-xxs-13, .col-xxs-14, .col-xxs-15, .col-xxs-16, .col-xxs-17, .col-xxs-18, .col-xxs-19, .col-xxs-20, .col-xxs-21, .col-xxs-22, .col-xxs-23, .col-xxs-24 {
  float: left;
}
.col-xxs-24 {
  width: 100%;
}
.col-xxs-23 {
  width: 95.83333333%;
}
.col-xxs-22 {
  width: 91.66666667%;
}
.col-xxs-21 {
  width: 87.5%;
}
.col-xxs-20 {
  width: 83.33333333%;
}
.col-xxs-19 {
  width: 79.16666667%;
}
.col-xxs-18 {
  width: 75%;
}
.col-xxs-17 {
  width: 70.83333333%;
}
.col-xxs-16 {
  width: 66.66666667%;
}
.col-xxs-15 {
  width: 62.5%;
}
.col-xxs-14 {
  width: 58.33333333%;
}
.col-xxs-13 {
  width: 54.16666667%;
}
.col-xxs-12 {
  width: 50%;
}
.col-xxs-11 {
  width: 45.83333333%;
}
.col-xxs-10 {
  width: 41.66666667%;
}
.col-xxs-9 {
  width: 37.5%;
}
.col-xxs-8 {
  width: 33.33333333%;
}
.col-xxs-7 {
  width: 29.16666667%;
}
.col-xxs-6 {
  width: 25%;
}
.col-xxs-5 {
  width: 20.83333333%;
}
.col-xxs-4 {
  width: 16.66666667%;
}
.col-xxs-3 {
  width: 12.5%;
}
.col-xxs-2 {
  width: 8.33333333%;
}
.col-xxs-1 {
  width: 4.16666667%;
}
.col-xxs-pull-24 {
  right: 100%;
}
.col-xxs-pull-23 {
  right: 95.83333333%;
}
.col-xxs-pull-22 {
  right: 91.66666667%;
}
.col-xxs-pull-21 {
  right: 87.5%;
}
.col-xxs-pull-20 {
  right: 83.33333333%;
}
.col-xxs-pull-19 {
  right: 79.16666667%;
}
.col-xxs-pull-18 {
  right: 75%;
}
.col-xxs-pull-17 {
  right: 70.83333333%;
}
.col-xxs-pull-16 {
  right: 66.66666667%;
}
.col-xxs-pull-15 {
  right: 62.5%;
}
.col-xxs-pull-14 {
  right: 58.33333333%;
}
.col-xxs-pull-13 {
  right: 54.16666667%;
}
.col-xxs-pull-12 {
  right: 50%;
}
.col-xxs-pull-11 {
  right: 45.83333333%;
}
.col-xxs-pull-10 {
  right: 41.66666667%;
}
.col-xxs-pull-9 {
  right: 37.5%;
}
.col-xxs-pull-8 {
  right: 33.33333333%;
}
.col-xxs-pull-7 {
  right: 29.16666667%;
}
.col-xxs-pull-6 {
  right: 25%;
}
.col-xxs-pull-5 {
  right: 20.83333333%;
}
.col-xxs-pull-4 {
  right: 16.66666667%;
}
.col-xxs-pull-3 {
  right: 12.5%;
}
.col-xxs-pull-2 {
  right: 8.33333333%;
}
.col-xxs-pull-1 {
  right: 4.16666667%;
}
.col-xxs-pull-0 {
  right: auto;
}
.col-xxs-push-24 {
  left: 100%;
}
.col-xxs-push-23 {
  left: 95.83333333%;
}
.col-xxs-push-22 {
  left: 91.66666667%;
}
.col-xxs-push-21 {
  left: 87.5%;
}
.col-xxs-push-20 {
  left: 83.33333333%;
}
.col-xxs-push-19 {
  left: 79.16666667%;
}
.col-xxs-push-18 {
  left: 75%;
}
.col-xxs-push-17 {
  left: 70.83333333%;
}
.col-xxs-push-16 {
  left: 66.66666667%;
}
.col-xxs-push-15 {
  left: 62.5%;
}
.col-xxs-push-14 {
  left: 58.33333333%;
}
.col-xxs-push-13 {
  left: 54.16666667%;
}
.col-xxs-push-12 {
  left: 50%;
}
.col-xxs-push-11 {
  left: 45.83333333%;
}
.col-xxs-push-10 {
  left: 41.66666667%;
}
.col-xxs-push-9 {
  left: 37.5%;
}
.col-xxs-push-8 {
  left: 33.33333333%;
}
.col-xxs-push-7 {
  left: 29.16666667%;
}
.col-xxs-push-6 {
  left: 25%;
}
.col-xxs-push-5 {
  left: 20.83333333%;
}
.col-xxs-push-4 {
  left: 16.66666667%;
}
.col-xxs-push-3 {
  left: 12.5%;
}
.col-xxs-push-2 {
  left: 8.33333333%;
}
.col-xxs-push-1 {
  left: 4.16666667%;
}
.col-xxs-push-0 {
  left: auto;
}
.col-xxs-offset-24 {
  margin-left: 100%;
}
.col-xxs-offset-23 {
  margin-left: 95.83333333%;
}
.col-xxs-offset-22 {
  margin-left: 91.66666667%;
}
.col-xxs-offset-21 {
  margin-left: 87.5%;
}
.col-xxs-offset-20 {
  margin-left: 83.33333333%;
}
.col-xxs-offset-19 {
  margin-left: 79.16666667%;
}
.col-xxs-offset-18 {
  margin-left: 75%;
}
.col-xxs-offset-17 {
  margin-left: 70.83333333%;
}
.col-xxs-offset-16 {
  margin-left: 66.66666667%;
}
.col-xxs-offset-15 {
  margin-left: 62.5%;
}
.col-xxs-offset-14 {
  margin-left: 58.33333333%;
}
.col-xxs-offset-13 {
  margin-left: 54.16666667%;
}
.col-xxs-offset-12 {
  margin-left: 50%;
}
.col-xxs-offset-11 {
  margin-left: 45.83333333%;
}
.col-xxs-offset-10 {
  margin-left: 41.66666667%;
}
.col-xxs-offset-9 {
  margin-left: 37.5%;
}
.col-xxs-offset-8 {
  margin-left: 33.33333333%;
}
.col-xxs-offset-7 {
  margin-left: 29.16666667%;
}
.col-xxs-offset-6 {
  margin-left: 25%;
}
.col-xxs-offset-5 {
  margin-left: 20.83333333%;
}
.col-xxs-offset-4 {
  margin-left: 16.66666667%;
}
.col-xxs-offset-3 {
  margin-left: 12.5%;
}
.col-xxs-offset-2 {
  margin-left: 8.33333333%;
}
.col-xxs-offset-1 {
  margin-left: 4.16666667%;
}
.col-xxs-offset-0 {
  margin-left: 0%;
}
.col-xxs-1, .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xxs-2, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xxs-3, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xxs-4, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xxs-5, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xxs-6, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xxs-7, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xxs-8, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xxs-9, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xxs-10, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xxs-11, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xxs-12, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12, .col-xxs-13, .col-xs-13, .col-sm-13, .col-md-13, .col-lg-13, .col-xxs-14, .col-xs-14, .col-sm-14, .col-md-14, .col-lg-14, .col-xxs-15, .col-xs-15, .col-sm-15, .col-md-15, .col-lg-15, .col-xxs-16, .col-xs-16, .col-sm-16, .col-md-16, .col-lg-16, .col-xxs-17, .col-xs-17, .col-sm-17, .col-md-17, .col-lg-17, .col-xxs-18, .col-xs-18, .col-sm-18, .col-md-18, .col-lg-18, .col-xxs-19, .col-xs-19, .col-sm-19, .col-md-19, .col-lg-19, .col-xxs-20, .col-xs-20, .col-sm-20, .col-md-20, .col-lg-20, .col-xxs-21, .col-xs-21, .col-sm-21, .col-md-21, .col-lg-21, .col-xxs-22, .col-xs-22, .col-sm-22, .col-md-22, .col-lg-22, .col-xxs-23, .col-xs-23, .col-sm-23, .col-md-23, .col-lg-23, .col-xxs-24, .col-xs-24, .col-sm-24, .col-md-24, .col-lg-24 {
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
}
@media (min-width: 569px) {
  .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-13, .col-xs-14, .col-xs-15, .col-xs-16, .col-xs-17, .col-xs-18, .col-xs-19, .col-xs-20, .col-xs-21, .col-xs-22, .col-xs-23, .col-xs-24 {
    float: left;
  }
  .col-xs-24 {
    width: 100%;
  }
  .col-xs-23 {
    width: 95.83333333%;
  }
  .col-xs-22 {
    width: 91.66666667%;
  }
  .col-xs-21 {
    width: 87.5%;
  }
  .col-xs-20 {
    width: 83.33333333%;
  }
  .col-xs-19 {
    width: 79.16666667%;
  }
  .col-xs-18 {
    width: 75%;
  }
  .col-xs-17 {
    width: 70.83333333%;
  }
  .col-xs-16 {
    width: 66.66666667%;
  }
  .col-xs-15 {
    width: 62.5%;
  }
  .col-xs-14 {
    width: 58.33333333%;
  }
  .col-xs-13 {
    width: 54.16666667%;
  }
  .col-xs-12 {
    width: 50%;
  }
  .col-xs-11 {
    width: 45.83333333%;
  }
  .col-xs-10 {
    width: 41.66666667%;
  }
  .col-xs-9 {
    width: 37.5%;
  }
  .col-xs-8 {
    width: 33.33333333%;
  }
  .col-xs-7 {
    width: 29.16666667%;
  }
  .col-xs-6 {
    width: 25%;
  }
  .col-xs-5 {
    width: 20.83333333%;
  }
  .col-xs-4 {
    width: 16.66666667%;
  }
  .col-xs-3 {
    width: 12.5%;
  }
  .col-xs-2 {
    width: 8.33333333%;
  }
  .col-xs-1 {
    width: 4.16666667%;
  }
  .col-xs-pull-24 {
    right: 100%;
  }
  .col-xs-pull-23 {
    right: 95.83333333%;
  }
  .col-xs-pull-22 {
    right: 91.66666667%;
  }
  .col-xs-pull-21 {
    right: 87.5%;
  }
  .col-xs-pull-20 {
    right: 83.33333333%;
  }
  .col-xs-pull-19 {
    right: 79.16666667%;
  }
  .col-xs-pull-18 {
    right: 75%;
  }
  .col-xs-pull-17 {
    right: 70.83333333%;
  }
  .col-xs-pull-16 {
    right: 66.66666667%;
  }
  .col-xs-pull-15 {
    right: 62.5%;
  }
  .col-xs-pull-14 {
    right: 58.33333333%;
  }
  .col-xs-pull-13 {
    right: 54.16666667%;
  }
  .col-xs-pull-12 {
    right: 50%;
  }
  .col-xs-pull-11 {
    right: 45.83333333%;
  }
  .col-xs-pull-10 {
    right: 41.66666667%;
  }
  .col-xs-pull-9 {
    right: 37.5%;
  }
  .col-xs-pull-8 {
    right: 33.33333333%;
  }
  .col-xs-pull-7 {
    right: 29.16666667%;
  }
  .col-xs-pull-6 {
    right: 25%;
  }
  .col-xs-pull-5 {
    right: 20.83333333%;
  }
  .col-xs-pull-4 {
    right: 16.66666667%;
  }
  .col-xs-pull-3 {
    right: 12.5%;
  }
  .col-xs-pull-2 {
    right: 8.33333333%;
  }
  .col-xs-pull-1 {
    right: 4.16666667%;
  }
  .col-xs-pull-0 {
    right: auto;
  }
  .col-xs-push-24 {
    left: 100%;
  }
  .col-xs-push-23 {
    left: 95.83333333%;
  }
  .col-xs-push-22 {
    left: 91.66666667%;
  }
  .col-xs-push-21 {
    left: 87.5%;
  }
  .col-xs-push-20 {
    left: 83.33333333%;
  }
  .col-xs-push-19 {
    left: 79.16666667%;
  }
  .col-xs-push-18 {
    left: 75%;
  }
  .col-xs-push-17 {
    left: 70.83333333%;
  }
  .col-xs-push-16 {
    left: 66.66666667%;
  }
  .col-xs-push-15 {
    left: 62.5%;
  }
  .col-xs-push-14 {
    left: 58.33333333%;
  }
  .col-xs-push-13 {
    left: 54.16666667%;
  }
  .col-xs-push-12 {
    left: 50%;
  }
  .col-xs-push-11 {
    left: 45.83333333%;
  }
  .col-xs-push-10 {
    left: 41.66666667%;
  }
  .col-xs-push-9 {
    left: 37.5%;
  }
  .col-xs-push-8 {
    left: 33.33333333%;
  }
  .col-xs-push-7 {
    left: 29.16666667%;
  }
  .col-xs-push-6 {
    left: 25%;
  }
  .col-xs-push-5 {
    left: 20.83333333%;
  }
  .col-xs-push-4 {
    left: 16.66666667%;
  }
  .col-xs-push-3 {
    left: 12.5%;
  }
  .col-xs-push-2 {
    left: 8.33333333%;
  }
  .col-xs-push-1 {
    left: 4.16666667%;
  }
  .col-xs-push-0 {
    left: auto;
  }
  .col-xs-offset-24 {
    margin-left: 100%;
  }
  .col-xs-offset-23 {
    margin-left: 95.83333333%;
  }
  .col-xs-offset-22 {
    margin-left: 91.66666667%;
  }
  .col-xs-offset-21 {
    margin-left: 87.5%;
  }
  .col-xs-offset-20 {
    margin-left: 83.33333333%;
  }
  .col-xs-offset-19 {
    margin-left: 79.16666667%;
  }
  .col-xs-offset-18 {
    margin-left: 75%;
  }
  .col-xs-offset-17 {
    margin-left: 70.83333333%;
  }
  .col-xs-offset-16 {
    margin-left: 66.66666667%;
  }
  .col-xs-offset-15 {
    margin-left: 62.5%;
  }
  .col-xs-offset-14 {
    margin-left: 58.33333333%;
  }
  .col-xs-offset-13 {
    margin-left: 54.16666667%;
  }
  .col-xs-offset-12 {
    margin-left: 50%;
  }
  .col-xs-offset-11 {
    margin-left: 45.83333333%;
  }
  .col-xs-offset-10 {
    margin-left: 41.66666667%;
  }
  .col-xs-offset-9 {
    margin-left: 37.5%;
  }
  .col-xs-offset-8 {
    margin-left: 33.33333333%;
  }
  .col-xs-offset-7 {
    margin-left: 29.16666667%;
  }
  .col-xs-offset-6 {
    margin-left: 25%;
  }
  .col-xs-offset-5 {
    margin-left: 20.83333333%;
  }
  .col-xs-offset-4 {
    margin-left: 16.66666667%;
  }
  .col-xs-offset-3 {
    margin-left: 12.5%;
  }
  .col-xs-offset-2 {
    margin-left: 8.33333333%;
  }
  .col-xs-offset-1 {
    margin-left: 4.16666667%;
  }
  .col-xs-offset-0 {
    margin-left: 0%;
  }
  .col-xxs-1, .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xxs-2, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xxs-3, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xxs-4, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xxs-5, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xxs-6, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xxs-7, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xxs-8, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xxs-9, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xxs-10, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xxs-11, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xxs-12, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12, .col-xxs-13, .col-xs-13, .col-sm-13, .col-md-13, .col-lg-13, .col-xxs-14, .col-xs-14, .col-sm-14, .col-md-14, .col-lg-14, .col-xxs-15, .col-xs-15, .col-sm-15, .col-md-15, .col-lg-15, .col-xxs-16, .col-xs-16, .col-sm-16, .col-md-16, .col-lg-16, .col-xxs-17, .col-xs-17, .col-sm-17, .col-md-17, .col-lg-17, .col-xxs-18, .col-xs-18, .col-sm-18, .col-md-18, .col-lg-18, .col-xxs-19, .col-xs-19, .col-sm-19, .col-md-19, .col-lg-19, .col-xxs-20, .col-xs-20, .col-sm-20, .col-md-20, .col-lg-20, .col-xxs-21, .col-xs-21, .col-sm-21, .col-md-21, .col-lg-21, .col-xxs-22, .col-xs-22, .col-sm-22, .col-md-22, .col-lg-22, .col-xxs-23, .col-xs-23, .col-sm-23, .col-md-23, .col-lg-23, .col-xxs-24, .col-xs-24, .col-sm-24, .col-md-24, .col-lg-24 {
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
  }
}
@media (min-width: 668px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-13, .col-sm-14, .col-sm-15, .col-sm-16, .col-sm-17, .col-sm-18, .col-sm-19, .col-sm-20, .col-sm-21, .col-sm-22, .col-sm-23, .col-sm-24 {
    float: left;
  }
  .col-sm-24 {
    width: 100%;
  }
  .col-sm-23 {
    width: 95.83333333%;
  }
  .col-sm-22 {
    width: 91.66666667%;
  }
  .col-sm-21 {
    width: 87.5%;
  }
  .col-sm-20 {
    width: 83.33333333%;
  }
  .col-sm-19 {
    width: 79.16666667%;
  }
  .col-sm-18 {
    width: 75%;
  }
  .col-sm-17 {
    width: 70.83333333%;
  }
  .col-sm-16 {
    width: 66.66666667%;
  }
  .col-sm-15 {
    width: 62.5%;
  }
  .col-sm-14 {
    width: 58.33333333%;
  }
  .col-sm-13 {
    width: 54.16666667%;
  }
  .col-sm-12 {
    width: 50%;
  }
  .col-sm-11 {
    width: 45.83333333%;
  }
  .col-sm-10 {
    width: 41.66666667%;
  }
  .col-sm-9 {
    width: 37.5%;
  }
  .col-sm-8 {
    width: 33.33333333%;
  }
  .col-sm-7 {
    width: 29.16666667%;
  }
  .col-sm-6 {
    width: 25%;
  }
  .col-sm-5 {
    width: 20.83333333%;
  }
  .col-sm-4 {
    width: 16.66666667%;
  }
  .col-sm-3 {
    width: 12.5%;
  }
  .col-sm-2 {
    width: 8.33333333%;
  }
  .col-sm-1 {
    width: 4.16666667%;
  }
  .col-sm-pull-24 {
    right: 100%;
  }
  .col-sm-pull-23 {
    right: 95.83333333%;
  }
  .col-sm-pull-22 {
    right: 91.66666667%;
  }
  .col-sm-pull-21 {
    right: 87.5%;
  }
  .col-sm-pull-20 {
    right: 83.33333333%;
  }
  .col-sm-pull-19 {
    right: 79.16666667%;
  }
  .col-sm-pull-18 {
    right: 75%;
  }
  .col-sm-pull-17 {
    right: 70.83333333%;
  }
  .col-sm-pull-16 {
    right: 66.66666667%;
  }
  .col-sm-pull-15 {
    right: 62.5%;
  }
  .col-sm-pull-14 {
    right: 58.33333333%;
  }
  .col-sm-pull-13 {
    right: 54.16666667%;
  }
  .col-sm-pull-12 {
    right: 50%;
  }
  .col-sm-pull-11 {
    right: 45.83333333%;
  }
  .col-sm-pull-10 {
    right: 41.66666667%;
  }
  .col-sm-pull-9 {
    right: 37.5%;
  }
  .col-sm-pull-8 {
    right: 33.33333333%;
  }
  .col-sm-pull-7 {
    right: 29.16666667%;
  }
  .col-sm-pull-6 {
    right: 25%;
  }
  .col-sm-pull-5 {
    right: 20.83333333%;
  }
  .col-sm-pull-4 {
    right: 16.66666667%;
  }
  .col-sm-pull-3 {
    right: 12.5%;
  }
  .col-sm-pull-2 {
    right: 8.33333333%;
  }
  .col-sm-pull-1 {
    right: 4.16666667%;
  }
  .col-sm-pull-0 {
    right: auto;
  }
  .col-sm-push-24 {
    left: 100%;
  }
  .col-sm-push-23 {
    left: 95.83333333%;
  }
  .col-sm-push-22 {
    left: 91.66666667%;
  }
  .col-sm-push-21 {
    left: 87.5%;
  }
  .col-sm-push-20 {
    left: 83.33333333%;
  }
  .col-sm-push-19 {
    left: 79.16666667%;
  }
  .col-sm-push-18 {
    left: 75%;
  }
  .col-sm-push-17 {
    left: 70.83333333%;
  }
  .col-sm-push-16 {
    left: 66.66666667%;
  }
  .col-sm-push-15 {
    left: 62.5%;
  }
  .col-sm-push-14 {
    left: 58.33333333%;
  }
  .col-sm-push-13 {
    left: 54.16666667%;
  }
  .col-sm-push-12 {
    left: 50%;
  }
  .col-sm-push-11 {
    left: 45.83333333%;
  }
  .col-sm-push-10 {
    left: 41.66666667%;
  }
  .col-sm-push-9 {
    left: 37.5%;
  }
  .col-sm-push-8 {
    left: 33.33333333%;
  }
  .col-sm-push-7 {
    left: 29.16666667%;
  }
  .col-sm-push-6 {
    left: 25%;
  }
  .col-sm-push-5 {
    left: 20.83333333%;
  }
  .col-sm-push-4 {
    left: 16.66666667%;
  }
  .col-sm-push-3 {
    left: 12.5%;
  }
  .col-sm-push-2 {
    left: 8.33333333%;
  }
  .col-sm-push-1 {
    left: 4.16666667%;
  }
  .col-sm-push-0 {
    left: auto;
  }
  .col-sm-offset-24 {
    margin-left: 100%;
  }
  .col-sm-offset-23 {
    margin-left: 95.83333333%;
  }
  .col-sm-offset-22 {
    margin-left: 91.66666667%;
  }
  .col-sm-offset-21 {
    margin-left: 87.5%;
  }
  .col-sm-offset-20 {
    margin-left: 83.33333333%;
  }
  .col-sm-offset-19 {
    margin-left: 79.16666667%;
  }
  .col-sm-offset-18 {
    margin-left: 75%;
  }
  .col-sm-offset-17 {
    margin-left: 70.83333333%;
  }
  .col-sm-offset-16 {
    margin-left: 66.66666667%;
  }
  .col-sm-offset-15 {
    margin-left: 62.5%;
  }
  .col-sm-offset-14 {
    margin-left: 58.33333333%;
  }
  .col-sm-offset-13 {
    margin-left: 54.16666667%;
  }
  .col-sm-offset-12 {
    margin-left: 50%;
  }
  .col-sm-offset-11 {
    margin-left: 45.83333333%;
  }
  .col-sm-offset-10 {
    margin-left: 41.66666667%;
  }
  .col-sm-offset-9 {
    margin-left: 37.5%;
  }
  .col-sm-offset-8 {
    margin-left: 33.33333333%;
  }
  .col-sm-offset-7 {
    margin-left: 29.16666667%;
  }
  .col-sm-offset-6 {
    margin-left: 25%;
  }
  .col-sm-offset-5 {
    margin-left: 20.83333333%;
  }
  .col-sm-offset-4 {
    margin-left: 16.66666667%;
  }
  .col-sm-offset-3 {
    margin-left: 12.5%;
  }
  .col-sm-offset-2 {
    margin-left: 8.33333333%;
  }
  .col-sm-offset-1 {
    margin-left: 4.16666667%;
  }
  .col-sm-offset-0 {
    margin-left: 0%;
  }
  .col-xxs-1, .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xxs-2, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xxs-3, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xxs-4, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xxs-5, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xxs-6, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xxs-7, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xxs-8, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xxs-9, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xxs-10, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xxs-11, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xxs-12, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12, .col-xxs-13, .col-xs-13, .col-sm-13, .col-md-13, .col-lg-13, .col-xxs-14, .col-xs-14, .col-sm-14, .col-md-14, .col-lg-14, .col-xxs-15, .col-xs-15, .col-sm-15, .col-md-15, .col-lg-15, .col-xxs-16, .col-xs-16, .col-sm-16, .col-md-16, .col-lg-16, .col-xxs-17, .col-xs-17, .col-sm-17, .col-md-17, .col-lg-17, .col-xxs-18, .col-xs-18, .col-sm-18, .col-md-18, .col-lg-18, .col-xxs-19, .col-xs-19, .col-sm-19, .col-md-19, .col-lg-19, .col-xxs-20, .col-xs-20, .col-sm-20, .col-md-20, .col-lg-20, .col-xxs-21, .col-xs-21, .col-sm-21, .col-md-21, .col-lg-21, .col-xxs-22, .col-xs-22, .col-sm-22, .col-md-22, .col-lg-22, .col-xxs-23, .col-xs-23, .col-sm-23, .col-md-23, .col-lg-23, .col-xxs-24, .col-xs-24, .col-sm-24, .col-md-24, .col-lg-24 {
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
  }
}
@media (min-width: 1024px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md-13, .col-md-14, .col-md-15, .col-md-16, .col-md-17, .col-md-18, .col-md-19, .col-md-20, .col-md-21, .col-md-22, .col-md-23, .col-md-24 {
    float: left;
  }
  .col-md-24 {
    width: 100%;
  }
  .col-md-23 {
    width: 95.83333333%;
  }
  .col-md-22 {
    width: 91.66666667%;
  }
  .col-md-21 {
    width: 87.5%;
  }
  .col-md-20 {
    width: 83.33333333%;
  }
  .col-md-19 {
    width: 79.16666667%;
  }
  .col-md-18 {
    width: 75%;
  }
  .col-md-17 {
    width: 70.83333333%;
  }
  .col-md-16 {
    width: 66.66666667%;
  }
  .col-md-15 {
    width: 62.5%;
  }
  .col-md-14 {
    width: 58.33333333%;
  }
  .col-md-13 {
    width: 54.16666667%;
  }
  .col-md-12 {
    width: 50%;
  }
  .col-md-11 {
    width: 45.83333333%;
  }
  .col-md-10 {
    width: 41.66666667%;
  }
  .col-md-9 {
    width: 37.5%;
  }
  .col-md-8 {
    width: 33.33333333%;
  }
  .col-md-7 {
    width: 29.16666667%;
  }
  .col-md-6 {
    width: 25%;
  }
  .col-md-5 {
    width: 20.83333333%;
  }
  .col-md-4 {
    width: 16.66666667%;
  }
  .col-md-3 {
    width: 12.5%;
  }
  .col-md-2 {
    width: 8.33333333%;
  }
  .col-md-1 {
    width: 4.16666667%;
  }
  .col-md-pull-24 {
    right: 100%;
  }
  .col-md-pull-23 {
    right: 95.83333333%;
  }
  .col-md-pull-22 {
    right: 91.66666667%;
  }
  .col-md-pull-21 {
    right: 87.5%;
  }
  .col-md-pull-20 {
    right: 83.33333333%;
  }
  .col-md-pull-19 {
    right: 79.16666667%;
  }
  .col-md-pull-18 {
    right: 75%;
  }
  .col-md-pull-17 {
    right: 70.83333333%;
  }
  .col-md-pull-16 {
    right: 66.66666667%;
  }
  .col-md-pull-15 {
    right: 62.5%;
  }
  .col-md-pull-14 {
    right: 58.33333333%;
  }
  .col-md-pull-13 {
    right: 54.16666667%;
  }
  .col-md-pull-12 {
    right: 50%;
  }
  .col-md-pull-11 {
    right: 45.83333333%;
  }
  .col-md-pull-10 {
    right: 41.66666667%;
  }
  .col-md-pull-9 {
    right: 37.5%;
  }
  .col-md-pull-8 {
    right: 33.33333333%;
  }
  .col-md-pull-7 {
    right: 29.16666667%;
  }
  .col-md-pull-6 {
    right: 25%;
  }
  .col-md-pull-5 {
    right: 20.83333333%;
  }
  .col-md-pull-4 {
    right: 16.66666667%;
  }
  .col-md-pull-3 {
    right: 12.5%;
  }
  .col-md-pull-2 {
    right: 8.33333333%;
  }
  .col-md-pull-1 {
    right: 4.16666667%;
  }
  .col-md-pull-0 {
    right: auto;
  }
  .col-md-push-24 {
    left: 100%;
  }
  .col-md-push-23 {
    left: 95.83333333%;
  }
  .col-md-push-22 {
    left: 91.66666667%;
  }
  .col-md-push-21 {
    left: 87.5%;
  }
  .col-md-push-20 {
    left: 83.33333333%;
  }
  .col-md-push-19 {
    left: 79.16666667%;
  }
  .col-md-push-18 {
    left: 75%;
  }
  .col-md-push-17 {
    left: 70.83333333%;
  }
  .col-md-push-16 {
    left: 66.66666667%;
  }
  .col-md-push-15 {
    left: 62.5%;
  }
  .col-md-push-14 {
    left: 58.33333333%;
  }
  .col-md-push-13 {
    left: 54.16666667%;
  }
  .col-md-push-12 {
    left: 50%;
  }
  .col-md-push-11 {
    left: 45.83333333%;
  }
  .col-md-push-10 {
    left: 41.66666667%;
  }
  .col-md-push-9 {
    left: 37.5%;
  }
  .col-md-push-8 {
    left: 33.33333333%;
  }
  .col-md-push-7 {
    left: 29.16666667%;
  }
  .col-md-push-6 {
    left: 25%;
  }
  .col-md-push-5 {
    left: 20.83333333%;
  }
  .col-md-push-4 {
    left: 16.66666667%;
  }
  .col-md-push-3 {
    left: 12.5%;
  }
  .col-md-push-2 {
    left: 8.33333333%;
  }
  .col-md-push-1 {
    left: 4.16666667%;
  }
  .col-md-push-0 {
    left: auto;
  }
  .col-md-offset-24 {
    margin-left: 100%;
  }
  .col-md-offset-23 {
    margin-left: 95.83333333%;
  }
  .col-md-offset-22 {
    margin-left: 91.66666667%;
  }
  .col-md-offset-21 {
    margin-left: 87.5%;
  }
  .col-md-offset-20 {
    margin-left: 83.33333333%;
  }
  .col-md-offset-19 {
    margin-left: 79.16666667%;
  }
  .col-md-offset-18 {
    margin-left: 75%;
  }
  .col-md-offset-17 {
    margin-left: 70.83333333%;
  }
  .col-md-offset-16 {
    margin-left: 66.66666667%;
  }
  .col-md-offset-15 {
    margin-left: 62.5%;
  }
  .col-md-offset-14 {
    margin-left: 58.33333333%;
  }
  .col-md-offset-13 {
    margin-left: 54.16666667%;
  }
  .col-md-offset-12 {
    margin-left: 50%;
  }
  .col-md-offset-11 {
    margin-left: 45.83333333%;
  }
  .col-md-offset-10 {
    margin-left: 41.66666667%;
  }
  .col-md-offset-9 {
    margin-left: 37.5%;
  }
  .col-md-offset-8 {
    margin-left: 33.33333333%;
  }
  .col-md-offset-7 {
    margin-left: 29.16666667%;
  }
  .col-md-offset-6 {
    margin-left: 25%;
  }
  .col-md-offset-5 {
    margin-left: 20.83333333%;
  }
  .col-md-offset-4 {
    margin-left: 16.66666667%;
  }
  .col-md-offset-3 {
    margin-left: 12.5%;
  }
  .col-md-offset-2 {
    margin-left: 8.33333333%;
  }
  .col-md-offset-1 {
    margin-left: 4.16666667%;
  }
  .col-md-offset-0 {
    margin-left: 0%;
  }
  .col-xxs-1, .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xxs-2, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xxs-3, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xxs-4, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xxs-5, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xxs-6, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xxs-7, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xxs-8, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xxs-9, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xxs-10, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xxs-11, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xxs-12, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12, .col-xxs-13, .col-xs-13, .col-sm-13, .col-md-13, .col-lg-13, .col-xxs-14, .col-xs-14, .col-sm-14, .col-md-14, .col-lg-14, .col-xxs-15, .col-xs-15, .col-sm-15, .col-md-15, .col-lg-15, .col-xxs-16, .col-xs-16, .col-sm-16, .col-md-16, .col-lg-16, .col-xxs-17, .col-xs-17, .col-sm-17, .col-md-17, .col-lg-17, .col-xxs-18, .col-xs-18, .col-sm-18, .col-md-18, .col-lg-18, .col-xxs-19, .col-xs-19, .col-sm-19, .col-md-19, .col-lg-19, .col-xxs-20, .col-xs-20, .col-sm-20, .col-md-20, .col-lg-20, .col-xxs-21, .col-xs-21, .col-sm-21, .col-md-21, .col-lg-21, .col-xxs-22, .col-xs-22, .col-sm-22, .col-md-22, .col-lg-22, .col-xxs-23, .col-xs-23, .col-sm-23, .col-md-23, .col-lg-23, .col-xxs-24, .col-xs-24, .col-sm-24, .col-md-24, .col-lg-24 {
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
  }
}
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-13, .col-lg-14, .col-lg-15, .col-lg-16, .col-lg-17, .col-lg-18, .col-lg-19, .col-lg-20, .col-lg-21, .col-lg-22, .col-lg-23, .col-lg-24 {
    float: left;
  }
  .col-lg-24 {
    width: 100%;
  }
  .col-lg-23 {
    width: 95.83333333%;
  }
  .col-lg-22 {
    width: 91.66666667%;
  }
  .col-lg-21 {
    width: 87.5%;
  }
  .col-lg-20 {
    width: 83.33333333%;
  }
  .col-lg-19 {
    width: 79.16666667%;
  }
  .col-lg-18 {
    width: 75%;
  }
  .col-lg-17 {
    width: 70.83333333%;
  }
  .col-lg-16 {
    width: 66.66666667%;
  }
  .col-lg-15 {
    width: 62.5%;
  }
  .col-lg-14 {
    width: 58.33333333%;
  }
  .col-lg-13 {
    width: 54.16666667%;
  }
  .col-lg-12 {
    width: 50%;
  }
  .col-lg-11 {
    width: 45.83333333%;
  }
  .col-lg-10 {
    width: 41.66666667%;
  }
  .col-lg-9 {
    width: 37.5%;
  }
  .col-lg-8 {
    width: 33.33333333%;
  }
  .col-lg-7 {
    width: 29.16666667%;
  }
  .col-lg-6 {
    width: 25%;
  }
  .col-lg-5 {
    width: 20.83333333%;
  }
  .col-lg-4 {
    width: 16.66666667%;
  }
  .col-lg-3 {
    width: 12.5%;
  }
  .col-lg-2 {
    width: 8.33333333%;
  }
  .col-lg-1 {
    width: 4.16666667%;
  }
  .col-lg-pull-24 {
    right: 100%;
  }
  .col-lg-pull-23 {
    right: 95.83333333%;
  }
  .col-lg-pull-22 {
    right: 91.66666667%;
  }
  .col-lg-pull-21 {
    right: 87.5%;
  }
  .col-lg-pull-20 {
    right: 83.33333333%;
  }
  .col-lg-pull-19 {
    right: 79.16666667%;
  }
  .col-lg-pull-18 {
    right: 75%;
  }
  .col-lg-pull-17 {
    right: 70.83333333%;
  }
  .col-lg-pull-16 {
    right: 66.66666667%;
  }
  .col-lg-pull-15 {
    right: 62.5%;
  }
  .col-lg-pull-14 {
    right: 58.33333333%;
  }
  .col-lg-pull-13 {
    right: 54.16666667%;
  }
  .col-lg-pull-12 {
    right: 50%;
  }
  .col-lg-pull-11 {
    right: 45.83333333%;
  }
  .col-lg-pull-10 {
    right: 41.66666667%;
  }
  .col-lg-pull-9 {
    right: 37.5%;
  }
  .col-lg-pull-8 {
    right: 33.33333333%;
  }
  .col-lg-pull-7 {
    right: 29.16666667%;
  }
  .col-lg-pull-6 {
    right: 25%;
  }
  .col-lg-pull-5 {
    right: 20.83333333%;
  }
  .col-lg-pull-4 {
    right: 16.66666667%;
  }
  .col-lg-pull-3 {
    right: 12.5%;
  }
  .col-lg-pull-2 {
    right: 8.33333333%;
  }
  .col-lg-pull-1 {
    right: 4.16666667%;
  }
  .col-lg-pull-0 {
    right: auto;
  }
  .col-lg-push-24 {
    left: 100%;
  }
  .col-lg-push-23 {
    left: 95.83333333%;
  }
  .col-lg-push-22 {
    left: 91.66666667%;
  }
  .col-lg-push-21 {
    left: 87.5%;
  }
  .col-lg-push-20 {
    left: 83.33333333%;
  }
  .col-lg-push-19 {
    left: 79.16666667%;
  }
  .col-lg-push-18 {
    left: 75%;
  }
  .col-lg-push-17 {
    left: 70.83333333%;
  }
  .col-lg-push-16 {
    left: 66.66666667%;
  }
  .col-lg-push-15 {
    left: 62.5%;
  }
  .col-lg-push-14 {
    left: 58.33333333%;
  }
  .col-lg-push-13 {
    left: 54.16666667%;
  }
  .col-lg-push-12 {
    left: 50%;
  }
  .col-lg-push-11 {
    left: 45.83333333%;
  }
  .col-lg-push-10 {
    left: 41.66666667%;
  }
  .col-lg-push-9 {
    left: 37.5%;
  }
  .col-lg-push-8 {
    left: 33.33333333%;
  }
  .col-lg-push-7 {
    left: 29.16666667%;
  }
  .col-lg-push-6 {
    left: 25%;
  }
  .col-lg-push-5 {
    left: 20.83333333%;
  }
  .col-lg-push-4 {
    left: 16.66666667%;
  }
  .col-lg-push-3 {
    left: 12.5%;
  }
  .col-lg-push-2 {
    left: 8.33333333%;
  }
  .col-lg-push-1 {
    left: 4.16666667%;
  }
  .col-lg-push-0 {
    left: auto;
  }
  .col-lg-offset-24 {
    margin-left: 100%;
  }
  .col-lg-offset-23 {
    margin-left: 95.83333333%;
  }
  .col-lg-offset-22 {
    margin-left: 91.66666667%;
  }
  .col-lg-offset-21 {
    margin-left: 87.5%;
  }
  .col-lg-offset-20 {
    margin-left: 83.33333333%;
  }
  .col-lg-offset-19 {
    margin-left: 79.16666667%;
  }
  .col-lg-offset-18 {
    margin-left: 75%;
  }
  .col-lg-offset-17 {
    margin-left: 70.83333333%;
  }
  .col-lg-offset-16 {
    margin-left: 66.66666667%;
  }
  .col-lg-offset-15 {
    margin-left: 62.5%;
  }
  .col-lg-offset-14 {
    margin-left: 58.33333333%;
  }
  .col-lg-offset-13 {
    margin-left: 54.16666667%;
  }
  .col-lg-offset-12 {
    margin-left: 50%;
  }
  .col-lg-offset-11 {
    margin-left: 45.83333333%;
  }
  .col-lg-offset-10 {
    margin-left: 41.66666667%;
  }
  .col-lg-offset-9 {
    margin-left: 37.5%;
  }
  .col-lg-offset-8 {
    margin-left: 33.33333333%;
  }
  .col-lg-offset-7 {
    margin-left: 29.16666667%;
  }
  .col-lg-offset-6 {
    margin-left: 25%;
  }
  .col-lg-offset-5 {
    margin-left: 20.83333333%;
  }
  .col-lg-offset-4 {
    margin-left: 16.66666667%;
  }
  .col-lg-offset-3 {
    margin-left: 12.5%;
  }
  .col-lg-offset-2 {
    margin-left: 8.33333333%;
  }
  .col-lg-offset-1 {
    margin-left: 4.16666667%;
  }
  .col-lg-offset-0 {
    margin-left: 0%;
  }
  .col-xxs-1, .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xxs-2, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xxs-3, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xxs-4, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xxs-5, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xxs-6, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xxs-7, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xxs-8, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xxs-9, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xxs-10, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xxs-11, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xxs-12, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12, .col-xxs-13, .col-xs-13, .col-sm-13, .col-md-13, .col-lg-13, .col-xxs-14, .col-xs-14, .col-sm-14, .col-md-14, .col-lg-14, .col-xxs-15, .col-xs-15, .col-sm-15, .col-md-15, .col-lg-15, .col-xxs-16, .col-xs-16, .col-sm-16, .col-md-16, .col-lg-16, .col-xxs-17, .col-xs-17, .col-sm-17, .col-md-17, .col-lg-17, .col-xxs-18, .col-xs-18, .col-sm-18, .col-md-18, .col-lg-18, .col-xxs-19, .col-xs-19, .col-sm-19, .col-md-19, .col-lg-19, .col-xxs-20, .col-xs-20, .col-sm-20, .col-md-20, .col-lg-20, .col-xxs-21, .col-xs-21, .col-sm-21, .col-md-21, .col-lg-21, .col-xxs-22, .col-xs-22, .col-sm-22, .col-md-22, .col-lg-22, .col-xxs-23, .col-xs-23, .col-sm-23, .col-md-23, .col-lg-23, .col-xxs-24, .col-xs-24, .col-sm-24, .col-md-24, .col-lg-24 {
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
  }
}
.flex-row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
}
.flex-row--vertical-center {
  align-items: center;
}
.flex-col-xxs-1, .flex-col-xs-1, .flex-col-sm-1, .flex-col-md-1, .flex-col-lg-1, .flex-col-xxs-2, .flex-col-xs-2, .flex-col-sm-2, .flex-col-md-2, .flex-col-lg-2, .flex-col-xxs-3, .flex-col-xs-3, .flex-col-sm-3, .flex-col-md-3, .flex-col-lg-3, .flex-col-xxs-4, .flex-col-xs-4, .flex-col-sm-4, .flex-col-md-4, .flex-col-lg-4, .flex-col-xxs-5, .flex-col-xs-5, .flex-col-sm-5, .flex-col-md-5, .flex-col-lg-5, .flex-col-xxs-6, .flex-col-xs-6, .flex-col-sm-6, .flex-col-md-6, .flex-col-lg-6, .flex-col-xxs-7, .flex-col-xs-7, .flex-col-sm-7, .flex-col-md-7, .flex-col-lg-7, .flex-col-xxs-8, .flex-col-xs-8, .flex-col-sm-8, .flex-col-md-8, .flex-col-lg-8, .flex-col-xxs-9, .flex-col-xs-9, .flex-col-sm-9, .flex-col-md-9, .flex-col-lg-9, .flex-col-xxs-10, .flex-col-xs-10, .flex-col-sm-10, .flex-col-md-10, .flex-col-lg-10, .flex-col-xxs-11, .flex-col-xs-11, .flex-col-sm-11, .flex-col-md-11, .flex-col-lg-11, .flex-col-xxs-12, .flex-col-xs-12, .flex-col-sm-12, .flex-col-md-12, .flex-col-lg-12, .flex-col-xxs-13, .flex-col-xs-13, .flex-col-sm-13, .flex-col-md-13, .flex-col-lg-13, .flex-col-xxs-14, .flex-col-xs-14, .flex-col-sm-14, .flex-col-md-14, .flex-col-lg-14, .flex-col-xxs-15, .flex-col-xs-15, .flex-col-sm-15, .flex-col-md-15, .flex-col-lg-15, .flex-col-xxs-16, .flex-col-xs-16, .flex-col-sm-16, .flex-col-md-16, .flex-col-lg-16, .flex-col-xxs-17, .flex-col-xs-17, .flex-col-sm-17, .flex-col-md-17, .flex-col-lg-17, .flex-col-xxs-18, .flex-col-xs-18, .flex-col-sm-18, .flex-col-md-18, .flex-col-lg-18, .flex-col-xxs-19, .flex-col-xs-19, .flex-col-sm-19, .flex-col-md-19, .flex-col-lg-19, .flex-col-xxs-20, .flex-col-xs-20, .flex-col-sm-20, .flex-col-md-20, .flex-col-lg-20, .flex-col-xxs-21, .flex-col-xs-21, .flex-col-sm-21, .flex-col-md-21, .flex-col-lg-21, .flex-col-xxs-22, .flex-col-xs-22, .flex-col-sm-22, .flex-col-md-22, .flex-col-lg-22, .flex-col-xxs-23, .flex-col-xs-23, .flex-col-sm-23, .flex-col-md-23, .flex-col-lg-23, .flex-col-xxs-24, .flex-col-xs-24, .flex-col-sm-24, .flex-col-md-24, .flex-col-lg-24 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.flex-col-xxs-24 {
  width: 100%;
}
.flex-col-xxs-23 {
  width: 95.83333333%;
}
.flex-col-xxs-22 {
  width: 91.66666667%;
}
.flex-col-xxs-21 {
  width: 87.5%;
}
.flex-col-xxs-20 {
  width: 83.33333333%;
}
.flex-col-xxs-19 {
  width: 79.16666667%;
}
.flex-col-xxs-18 {
  width: 75%;
}
.flex-col-xxs-17 {
  width: 70.83333333%;
}
.flex-col-xxs-16 {
  width: 66.66666667%;
}
.flex-col-xxs-15 {
  width: 62.5%;
}
.flex-col-xxs-14 {
  width: 58.33333333%;
}
.flex-col-xxs-13 {
  width: 54.16666667%;
}
.flex-col-xxs-12 {
  width: 50%;
}
.flex-col-xxs-11 {
  width: 45.83333333%;
}
.flex-col-xxs-10 {
  width: 41.66666667%;
}
.flex-col-xxs-9 {
  width: 37.5%;
}
.flex-col-xxs-8 {
  width: 33.33333333%;
}
.flex-col-xxs-7 {
  width: 29.16666667%;
}
.flex-col-xxs-6 {
  width: 25%;
}
.flex-col-xxs-5 {
  width: 20.83333333%;
}
.flex-col-xxs-4 {
  width: 16.66666667%;
}
.flex-col-xxs-3 {
  width: 12.5%;
}
.flex-col-xxs-2 {
  width: 8.33333333%;
}
.flex-col-xxs-1 {
  width: 4.16666667%;
}
.flex-col-xxs-1, .flex-col-xs-1, .flex-col-sm-1, .flex-col-md-1, .flex-col-lg-1, .flex-col-xxs-2, .flex-col-xs-2, .flex-col-sm-2, .flex-col-md-2, .flex-col-lg-2, .flex-col-xxs-3, .flex-col-xs-3, .flex-col-sm-3, .flex-col-md-3, .flex-col-lg-3, .flex-col-xxs-4, .flex-col-xs-4, .flex-col-sm-4, .flex-col-md-4, .flex-col-lg-4, .flex-col-xxs-5, .flex-col-xs-5, .flex-col-sm-5, .flex-col-md-5, .flex-col-lg-5, .flex-col-xxs-6, .flex-col-xs-6, .flex-col-sm-6, .flex-col-md-6, .flex-col-lg-6, .flex-col-xxs-7, .flex-col-xs-7, .flex-col-sm-7, .flex-col-md-7, .flex-col-lg-7, .flex-col-xxs-8, .flex-col-xs-8, .flex-col-sm-8, .flex-col-md-8, .flex-col-lg-8, .flex-col-xxs-9, .flex-col-xs-9, .flex-col-sm-9, .flex-col-md-9, .flex-col-lg-9, .flex-col-xxs-10, .flex-col-xs-10, .flex-col-sm-10, .flex-col-md-10, .flex-col-lg-10, .flex-col-xxs-11, .flex-col-xs-11, .flex-col-sm-11, .flex-col-md-11, .flex-col-lg-11, .flex-col-xxs-12, .flex-col-xs-12, .flex-col-sm-12, .flex-col-md-12, .flex-col-lg-12, .flex-col-xxs-13, .flex-col-xs-13, .flex-col-sm-13, .flex-col-md-13, .flex-col-lg-13, .flex-col-xxs-14, .flex-col-xs-14, .flex-col-sm-14, .flex-col-md-14, .flex-col-lg-14, .flex-col-xxs-15, .flex-col-xs-15, .flex-col-sm-15, .flex-col-md-15, .flex-col-lg-15, .flex-col-xxs-16, .flex-col-xs-16, .flex-col-sm-16, .flex-col-md-16, .flex-col-lg-16, .flex-col-xxs-17, .flex-col-xs-17, .flex-col-sm-17, .flex-col-md-17, .flex-col-lg-17, .flex-col-xxs-18, .flex-col-xs-18, .flex-col-sm-18, .flex-col-md-18, .flex-col-lg-18, .flex-col-xxs-19, .flex-col-xs-19, .flex-col-sm-19, .flex-col-md-19, .flex-col-lg-19, .flex-col-xxs-20, .flex-col-xs-20, .flex-col-sm-20, .flex-col-md-20, .flex-col-lg-20, .flex-col-xxs-21, .flex-col-xs-21, .flex-col-sm-21, .flex-col-md-21, .flex-col-lg-21, .flex-col-xxs-22, .flex-col-xs-22, .flex-col-sm-22, .flex-col-md-22, .flex-col-lg-22, .flex-col-xxs-23, .flex-col-xs-23, .flex-col-sm-23, .flex-col-md-23, .flex-col-lg-23, .flex-col-xxs-24, .flex-col-xs-24, .flex-col-sm-24, .flex-col-md-24, .flex-col-lg-24 {
  padding-left: 10px;
  padding-right: 10px;
}
@media (min-width: 569px) {
  .flex-col-xs-24 {
    width: 100%;
  }
  .flex-col-xs-23 {
    width: 95.83333333%;
  }
  .flex-col-xs-22 {
    width: 91.66666667%;
  }
  .flex-col-xs-21 {
    width: 87.5%;
  }
  .flex-col-xs-20 {
    width: 83.33333333%;
  }
  .flex-col-xs-19 {
    width: 79.16666667%;
  }
  .flex-col-xs-18 {
    width: 75%;
  }
  .flex-col-xs-17 {
    width: 70.83333333%;
  }
  .flex-col-xs-16 {
    width: 66.66666667%;
  }
  .flex-col-xs-15 {
    width: 62.5%;
  }
  .flex-col-xs-14 {
    width: 58.33333333%;
  }
  .flex-col-xs-13 {
    width: 54.16666667%;
  }
  .flex-col-xs-12 {
    width: 50%;
  }
  .flex-col-xs-11 {
    width: 45.83333333%;
  }
  .flex-col-xs-10 {
    width: 41.66666667%;
  }
  .flex-col-xs-9 {
    width: 37.5%;
  }
  .flex-col-xs-8 {
    width: 33.33333333%;
  }
  .flex-col-xs-7 {
    width: 29.16666667%;
  }
  .flex-col-xs-6 {
    width: 25%;
  }
  .flex-col-xs-5 {
    width: 20.83333333%;
  }
  .flex-col-xs-4 {
    width: 16.66666667%;
  }
  .flex-col-xs-3 {
    width: 12.5%;
  }
  .flex-col-xs-2 {
    width: 8.33333333%;
  }
  .flex-col-xs-1 {
    width: 4.16666667%;
  }
  .flex-col-xxs-1, .flex-col-xs-1, .flex-col-sm-1, .flex-col-md-1, .flex-col-lg-1, .flex-col-xxs-2, .flex-col-xs-2, .flex-col-sm-2, .flex-col-md-2, .flex-col-lg-2, .flex-col-xxs-3, .flex-col-xs-3, .flex-col-sm-3, .flex-col-md-3, .flex-col-lg-3, .flex-col-xxs-4, .flex-col-xs-4, .flex-col-sm-4, .flex-col-md-4, .flex-col-lg-4, .flex-col-xxs-5, .flex-col-xs-5, .flex-col-sm-5, .flex-col-md-5, .flex-col-lg-5, .flex-col-xxs-6, .flex-col-xs-6, .flex-col-sm-6, .flex-col-md-6, .flex-col-lg-6, .flex-col-xxs-7, .flex-col-xs-7, .flex-col-sm-7, .flex-col-md-7, .flex-col-lg-7, .flex-col-xxs-8, .flex-col-xs-8, .flex-col-sm-8, .flex-col-md-8, .flex-col-lg-8, .flex-col-xxs-9, .flex-col-xs-9, .flex-col-sm-9, .flex-col-md-9, .flex-col-lg-9, .flex-col-xxs-10, .flex-col-xs-10, .flex-col-sm-10, .flex-col-md-10, .flex-col-lg-10, .flex-col-xxs-11, .flex-col-xs-11, .flex-col-sm-11, .flex-col-md-11, .flex-col-lg-11, .flex-col-xxs-12, .flex-col-xs-12, .flex-col-sm-12, .flex-col-md-12, .flex-col-lg-12, .flex-col-xxs-13, .flex-col-xs-13, .flex-col-sm-13, .flex-col-md-13, .flex-col-lg-13, .flex-col-xxs-14, .flex-col-xs-14, .flex-col-sm-14, .flex-col-md-14, .flex-col-lg-14, .flex-col-xxs-15, .flex-col-xs-15, .flex-col-sm-15, .flex-col-md-15, .flex-col-lg-15, .flex-col-xxs-16, .flex-col-xs-16, .flex-col-sm-16, .flex-col-md-16, .flex-col-lg-16, .flex-col-xxs-17, .flex-col-xs-17, .flex-col-sm-17, .flex-col-md-17, .flex-col-lg-17, .flex-col-xxs-18, .flex-col-xs-18, .flex-col-sm-18, .flex-col-md-18, .flex-col-lg-18, .flex-col-xxs-19, .flex-col-xs-19, .flex-col-sm-19, .flex-col-md-19, .flex-col-lg-19, .flex-col-xxs-20, .flex-col-xs-20, .flex-col-sm-20, .flex-col-md-20, .flex-col-lg-20, .flex-col-xxs-21, .flex-col-xs-21, .flex-col-sm-21, .flex-col-md-21, .flex-col-lg-21, .flex-col-xxs-22, .flex-col-xs-22, .flex-col-sm-22, .flex-col-md-22, .flex-col-lg-22, .flex-col-xxs-23, .flex-col-xs-23, .flex-col-sm-23, .flex-col-md-23, .flex-col-lg-23, .flex-col-xxs-24, .flex-col-xs-24, .flex-col-sm-24, .flex-col-md-24, .flex-col-lg-24 {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (min-width: 668px) {
  .flex-col-sm-24 {
    width: 100%;
  }
  .flex-col-sm-23 {
    width: 95.83333333%;
  }
  .flex-col-sm-22 {
    width: 91.66666667%;
  }
  .flex-col-sm-21 {
    width: 87.5%;
  }
  .flex-col-sm-20 {
    width: 83.33333333%;
  }
  .flex-col-sm-19 {
    width: 79.16666667%;
  }
  .flex-col-sm-18 {
    width: 75%;
  }
  .flex-col-sm-17 {
    width: 70.83333333%;
  }
  .flex-col-sm-16 {
    width: 66.66666667%;
  }
  .flex-col-sm-15 {
    width: 62.5%;
  }
  .flex-col-sm-14 {
    width: 58.33333333%;
  }
  .flex-col-sm-13 {
    width: 54.16666667%;
  }
  .flex-col-sm-12 {
    width: 50%;
  }
  .flex-col-sm-11 {
    width: 45.83333333%;
  }
  .flex-col-sm-10 {
    width: 41.66666667%;
  }
  .flex-col-sm-9 {
    width: 37.5%;
  }
  .flex-col-sm-8 {
    width: 33.33333333%;
  }
  .flex-col-sm-7 {
    width: 29.16666667%;
  }
  .flex-col-sm-6 {
    width: 25%;
  }
  .flex-col-sm-5 {
    width: 20.83333333%;
  }
  .flex-col-sm-4 {
    width: 16.66666667%;
  }
  .flex-col-sm-3 {
    width: 12.5%;
  }
  .flex-col-sm-2 {
    width: 8.33333333%;
  }
  .flex-col-sm-1 {
    width: 4.16666667%;
  }
  .flex-col-xxs-1, .flex-col-xs-1, .flex-col-sm-1, .flex-col-md-1, .flex-col-lg-1, .flex-col-xxs-2, .flex-col-xs-2, .flex-col-sm-2, .flex-col-md-2, .flex-col-lg-2, .flex-col-xxs-3, .flex-col-xs-3, .flex-col-sm-3, .flex-col-md-3, .flex-col-lg-3, .flex-col-xxs-4, .flex-col-xs-4, .flex-col-sm-4, .flex-col-md-4, .flex-col-lg-4, .flex-col-xxs-5, .flex-col-xs-5, .flex-col-sm-5, .flex-col-md-5, .flex-col-lg-5, .flex-col-xxs-6, .flex-col-xs-6, .flex-col-sm-6, .flex-col-md-6, .flex-col-lg-6, .flex-col-xxs-7, .flex-col-xs-7, .flex-col-sm-7, .flex-col-md-7, .flex-col-lg-7, .flex-col-xxs-8, .flex-col-xs-8, .flex-col-sm-8, .flex-col-md-8, .flex-col-lg-8, .flex-col-xxs-9, .flex-col-xs-9, .flex-col-sm-9, .flex-col-md-9, .flex-col-lg-9, .flex-col-xxs-10, .flex-col-xs-10, .flex-col-sm-10, .flex-col-md-10, .flex-col-lg-10, .flex-col-xxs-11, .flex-col-xs-11, .flex-col-sm-11, .flex-col-md-11, .flex-col-lg-11, .flex-col-xxs-12, .flex-col-xs-12, .flex-col-sm-12, .flex-col-md-12, .flex-col-lg-12, .flex-col-xxs-13, .flex-col-xs-13, .flex-col-sm-13, .flex-col-md-13, .flex-col-lg-13, .flex-col-xxs-14, .flex-col-xs-14, .flex-col-sm-14, .flex-col-md-14, .flex-col-lg-14, .flex-col-xxs-15, .flex-col-xs-15, .flex-col-sm-15, .flex-col-md-15, .flex-col-lg-15, .flex-col-xxs-16, .flex-col-xs-16, .flex-col-sm-16, .flex-col-md-16, .flex-col-lg-16, .flex-col-xxs-17, .flex-col-xs-17, .flex-col-sm-17, .flex-col-md-17, .flex-col-lg-17, .flex-col-xxs-18, .flex-col-xs-18, .flex-col-sm-18, .flex-col-md-18, .flex-col-lg-18, .flex-col-xxs-19, .flex-col-xs-19, .flex-col-sm-19, .flex-col-md-19, .flex-col-lg-19, .flex-col-xxs-20, .flex-col-xs-20, .flex-col-sm-20, .flex-col-md-20, .flex-col-lg-20, .flex-col-xxs-21, .flex-col-xs-21, .flex-col-sm-21, .flex-col-md-21, .flex-col-lg-21, .flex-col-xxs-22, .flex-col-xs-22, .flex-col-sm-22, .flex-col-md-22, .flex-col-lg-22, .flex-col-xxs-23, .flex-col-xs-23, .flex-col-sm-23, .flex-col-md-23, .flex-col-lg-23, .flex-col-xxs-24, .flex-col-xs-24, .flex-col-sm-24, .flex-col-md-24, .flex-col-lg-24 {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (min-width: 1024px) {
  .flex-col-md-24 {
    width: 100%;
  }
  .flex-col-md-23 {
    width: 95.83333333%;
  }
  .flex-col-md-22 {
    width: 91.66666667%;
  }
  .flex-col-md-21 {
    width: 87.5%;
  }
  .flex-col-md-20 {
    width: 83.33333333%;
  }
  .flex-col-md-19 {
    width: 79.16666667%;
  }
  .flex-col-md-18 {
    width: 75%;
  }
  .flex-col-md-17 {
    width: 70.83333333%;
  }
  .flex-col-md-16 {
    width: 66.66666667%;
  }
  .flex-col-md-15 {
    width: 62.5%;
  }
  .flex-col-md-14 {
    width: 58.33333333%;
  }
  .flex-col-md-13 {
    width: 54.16666667%;
  }
  .flex-col-md-12 {
    width: 50%;
  }
  .flex-col-md-11 {
    width: 45.83333333%;
  }
  .flex-col-md-10 {
    width: 41.66666667%;
  }
  .flex-col-md-9 {
    width: 37.5%;
  }
  .flex-col-md-8 {
    width: 33.33333333%;
  }
  .flex-col-md-7 {
    width: 29.16666667%;
  }
  .flex-col-md-6 {
    width: 25%;
  }
  .flex-col-md-5 {
    width: 20.83333333%;
  }
  .flex-col-md-4 {
    width: 16.66666667%;
  }
  .flex-col-md-3 {
    width: 12.5%;
  }
  .flex-col-md-2 {
    width: 8.33333333%;
  }
  .flex-col-md-1 {
    width: 4.16666667%;
  }
  .flex-col-xxs-1, .flex-col-xs-1, .flex-col-sm-1, .flex-col-md-1, .flex-col-lg-1, .flex-col-xxs-2, .flex-col-xs-2, .flex-col-sm-2, .flex-col-md-2, .flex-col-lg-2, .flex-col-xxs-3, .flex-col-xs-3, .flex-col-sm-3, .flex-col-md-3, .flex-col-lg-3, .flex-col-xxs-4, .flex-col-xs-4, .flex-col-sm-4, .flex-col-md-4, .flex-col-lg-4, .flex-col-xxs-5, .flex-col-xs-5, .flex-col-sm-5, .flex-col-md-5, .flex-col-lg-5, .flex-col-xxs-6, .flex-col-xs-6, .flex-col-sm-6, .flex-col-md-6, .flex-col-lg-6, .flex-col-xxs-7, .flex-col-xs-7, .flex-col-sm-7, .flex-col-md-7, .flex-col-lg-7, .flex-col-xxs-8, .flex-col-xs-8, .flex-col-sm-8, .flex-col-md-8, .flex-col-lg-8, .flex-col-xxs-9, .flex-col-xs-9, .flex-col-sm-9, .flex-col-md-9, .flex-col-lg-9, .flex-col-xxs-10, .flex-col-xs-10, .flex-col-sm-10, .flex-col-md-10, .flex-col-lg-10, .flex-col-xxs-11, .flex-col-xs-11, .flex-col-sm-11, .flex-col-md-11, .flex-col-lg-11, .flex-col-xxs-12, .flex-col-xs-12, .flex-col-sm-12, .flex-col-md-12, .flex-col-lg-12, .flex-col-xxs-13, .flex-col-xs-13, .flex-col-sm-13, .flex-col-md-13, .flex-col-lg-13, .flex-col-xxs-14, .flex-col-xs-14, .flex-col-sm-14, .flex-col-md-14, .flex-col-lg-14, .flex-col-xxs-15, .flex-col-xs-15, .flex-col-sm-15, .flex-col-md-15, .flex-col-lg-15, .flex-col-xxs-16, .flex-col-xs-16, .flex-col-sm-16, .flex-col-md-16, .flex-col-lg-16, .flex-col-xxs-17, .flex-col-xs-17, .flex-col-sm-17, .flex-col-md-17, .flex-col-lg-17, .flex-col-xxs-18, .flex-col-xs-18, .flex-col-sm-18, .flex-col-md-18, .flex-col-lg-18, .flex-col-xxs-19, .flex-col-xs-19, .flex-col-sm-19, .flex-col-md-19, .flex-col-lg-19, .flex-col-xxs-20, .flex-col-xs-20, .flex-col-sm-20, .flex-col-md-20, .flex-col-lg-20, .flex-col-xxs-21, .flex-col-xs-21, .flex-col-sm-21, .flex-col-md-21, .flex-col-lg-21, .flex-col-xxs-22, .flex-col-xs-22, .flex-col-sm-22, .flex-col-md-22, .flex-col-lg-22, .flex-col-xxs-23, .flex-col-xs-23, .flex-col-sm-23, .flex-col-md-23, .flex-col-lg-23, .flex-col-xxs-24, .flex-col-xs-24, .flex-col-sm-24, .flex-col-md-24, .flex-col-lg-24 {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (min-width: 1200px) {
  .flex-col-lg-24 {
    width: 100%;
  }
  .flex-col-lg-23 {
    width: 95.83333333%;
  }
  .flex-col-lg-22 {
    width: 91.66666667%;
  }
  .flex-col-lg-21 {
    width: 87.5%;
  }
  .flex-col-lg-20 {
    width: 83.33333333%;
  }
  .flex-col-lg-19 {
    width: 79.16666667%;
  }
  .flex-col-lg-18 {
    width: 75%;
  }
  .flex-col-lg-17 {
    width: 70.83333333%;
  }
  .flex-col-lg-16 {
    width: 66.66666667%;
  }
  .flex-col-lg-15 {
    width: 62.5%;
  }
  .flex-col-lg-14 {
    width: 58.33333333%;
  }
  .flex-col-lg-13 {
    width: 54.16666667%;
  }
  .flex-col-lg-12 {
    width: 50%;
  }
  .flex-col-lg-11 {
    width: 45.83333333%;
  }
  .flex-col-lg-10 {
    width: 41.66666667%;
  }
  .flex-col-lg-9 {
    width: 37.5%;
  }
  .flex-col-lg-8 {
    width: 33.33333333%;
  }
  .flex-col-lg-7 {
    width: 29.16666667%;
  }
  .flex-col-lg-6 {
    width: 25%;
  }
  .flex-col-lg-5 {
    width: 20.83333333%;
  }
  .flex-col-lg-4 {
    width: 16.66666667%;
  }
  .flex-col-lg-3 {
    width: 12.5%;
  }
  .flex-col-lg-2 {
    width: 8.33333333%;
  }
  .flex-col-lg-1 {
    width: 4.16666667%;
  }
  .flex-col-xxs-1, .flex-col-xs-1, .flex-col-sm-1, .flex-col-md-1, .flex-col-lg-1, .flex-col-xxs-2, .flex-col-xs-2, .flex-col-sm-2, .flex-col-md-2, .flex-col-lg-2, .flex-col-xxs-3, .flex-col-xs-3, .flex-col-sm-3, .flex-col-md-3, .flex-col-lg-3, .flex-col-xxs-4, .flex-col-xs-4, .flex-col-sm-4, .flex-col-md-4, .flex-col-lg-4, .flex-col-xxs-5, .flex-col-xs-5, .flex-col-sm-5, .flex-col-md-5, .flex-col-lg-5, .flex-col-xxs-6, .flex-col-xs-6, .flex-col-sm-6, .flex-col-md-6, .flex-col-lg-6, .flex-col-xxs-7, .flex-col-xs-7, .flex-col-sm-7, .flex-col-md-7, .flex-col-lg-7, .flex-col-xxs-8, .flex-col-xs-8, .flex-col-sm-8, .flex-col-md-8, .flex-col-lg-8, .flex-col-xxs-9, .flex-col-xs-9, .flex-col-sm-9, .flex-col-md-9, .flex-col-lg-9, .flex-col-xxs-10, .flex-col-xs-10, .flex-col-sm-10, .flex-col-md-10, .flex-col-lg-10, .flex-col-xxs-11, .flex-col-xs-11, .flex-col-sm-11, .flex-col-md-11, .flex-col-lg-11, .flex-col-xxs-12, .flex-col-xs-12, .flex-col-sm-12, .flex-col-md-12, .flex-col-lg-12, .flex-col-xxs-13, .flex-col-xs-13, .flex-col-sm-13, .flex-col-md-13, .flex-col-lg-13, .flex-col-xxs-14, .flex-col-xs-14, .flex-col-sm-14, .flex-col-md-14, .flex-col-lg-14, .flex-col-xxs-15, .flex-col-xs-15, .flex-col-sm-15, .flex-col-md-15, .flex-col-lg-15, .flex-col-xxs-16, .flex-col-xs-16, .flex-col-sm-16, .flex-col-md-16, .flex-col-lg-16, .flex-col-xxs-17, .flex-col-xs-17, .flex-col-sm-17, .flex-col-md-17, .flex-col-lg-17, .flex-col-xxs-18, .flex-col-xs-18, .flex-col-sm-18, .flex-col-md-18, .flex-col-lg-18, .flex-col-xxs-19, .flex-col-xs-19, .flex-col-sm-19, .flex-col-md-19, .flex-col-lg-19, .flex-col-xxs-20, .flex-col-xs-20, .flex-col-sm-20, .flex-col-md-20, .flex-col-lg-20, .flex-col-xxs-21, .flex-col-xs-21, .flex-col-sm-21, .flex-col-md-21, .flex-col-lg-21, .flex-col-xxs-22, .flex-col-xs-22, .flex-col-sm-22, .flex-col-md-22, .flex-col-lg-22, .flex-col-xxs-23, .flex-col-xs-23, .flex-col-sm-23, .flex-col-md-23, .flex-col-lg-23, .flex-col-xxs-24, .flex-col-xs-24, .flex-col-sm-24, .flex-col-md-24, .flex-col-lg-24 {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (max-width: 1200px) {
  .flex-col-lg-first {
    order: 0;
  }
  .flex-col-lg-second {
    order: 1;
  }
  .flex-col-lg-third {
    order: 2;
  }
  .flex-col-lg-fourth {
    order: 3;
  }
}
@media (max-width: 1024px) {
  .flex-col-md-first {
    order: 0;
  }
  .flex-col-md-second {
    order: 1;
  }
  .flex-col-md-third {
    order: 2;
  }
  .flex-col-md-fourth {
    order: 3;
  }
}
@media (max-width: 668px) {
  .flex-col-sm-first {
    order: 0;
  }
  .flex-col-sm-second {
    order: 1;
  }
  .flex-col-sm-third {
    order: 2;
  }
  .flex-col-sm-fourth {
    order: 3;
  }
}
@media (max-width: 569px) {
  .flex-col-xs-first {
    order: 0;
  }
  .flex-col-xs-second {
    order: 1;
  }
  .flex-col-xs-third {
    order: 2;
  }
  .flex-col-xs-fourth {
    order: 3;
  }
}
@media (max-width: 320px) {
  .flex-col-xxs-first {
    order: 0;
  }
  .flex-col-xxs-second {
    order: 1;
  }
  .flex-col-xxs-third {
    order: 2;
  }
  .flex-col-xxs-fourth {
    order: 3;
  }
}
body {
  background-color: #367fc4;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  height: 100%;
  margin: 0;
}
html {
  height: 100%;
}
form {
  display: table;
  height: 100%;
  table-layout: fixed;
  width: 100%;
}
h1,
.h1 {
  font-size: 39px;
  line-height: 1;
  margin-bottom: 10px;
  margin-top: 20px;
}
h2,
.h2 {
  font-size: 26px;
  line-height: 1.1;
  margin-bottom: 10px;
  margin-top: 22px;
}
h3,
.h3 {
  font-size: 18px;
  line-height: 1.2;
  margin-bottom: 10px;
  margin-top: 22px;
}
h4,
.h4 {
  font-size: 16px;
  line-height: 1.3;
  margin-bottom: 10px;
  margin-top: 22px;
}
p {
  font-size: 16px;
  line-height: 1.4;
  margin-bottom: 10px;
  max-width: 650px;
}
.paragraph--lead,
.paragraph--lead p {
  font-size: 20px;
  line-height: 1.3;
  margin-top: 22px;
}
ul {
  font-size: 16px;
  line-height: 1.4;
  max-width: 650px;
}
img {
  max-width: 100%;
}
@media (min-width: 668px) {
  h1,
  .h1 {
    font-size: 42px;
    line-height: 1.1;
    margin-bottom: 12px;
    margin-top: 21px;
  }
  h2,
  .h2 {
    font-size: 28px;
    line-height: 1.2;
    margin-bottom: 28px;
    margin-top: 32px;
  }
  h3,
  .h3 {
    font-size: 21px;
    line-height: 1.3;
    margin-bottom: 12px;
    margin-top: 28px;
  }
  h4,
  .h4 {
    font-size: 18px;
    line-height: 1.4;
    margin-bottom: 12px;
    margin-top: 28px;
  }
  h6,
  .h6 {
    font-size: 21px;
    line-height: 1.5;
    margin-bottom: 0;
    margin-top: 0;
  }
  .h1,
  .h2,
  .h3,
  .h4 {
    display: block;
    font-weight: bold;
  }
  h2,
  h3,
  h4,
  .h2,
  .h3,
  .h4 {
    max-width: 650px;
  }
  p {
    font-size: 21px;
    line-height: 1.5;
    margin-bottom: 16px;
    margin-top: 0;
  }
}
.col--blue-light {
  background-color: #ccdff0;
  color: #484848;
}
.col--blue-dark {
  background-color: #367fc4;
  color: #ffffff;
  position: relative;
}
.col--blue-right-slanted {
  align-items: flex-end;
  background: #ccdff0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-right: 0;
  right: 0;
}
.col--blue-right-slanted-shadow {
  background: #ccdff0;
}
@media only screen and (min-width: 668px) {
  .col--blue-right-slanted {
    clip-path: polygon(20% 0%, 100% 0, 100% 100%, 0% 100%);
    margin-top: -448px;
  }
  .col--blue-right-slanted-bg {
    background-color: #ccdff0;
    display: block;
    height: calc(100% + 448px);
    position: absolute;
    right: 0px;
    top: -448px;
    width: 30%;
  }
  .col--blue-right-slanted-shadow {
    background: none;
  }
  .col--blue-right-slanted .shadow {
    position: absolute;
    z-index: -1;
    content: "";
    background: rgba(0, 0, 0, 0.5);
    width: 200px;
    height: 200px;
    left: 5px;
    top: 5px;
    clip-path: polygon(20% 0%, 100% 0, 100% 100%, 0% 100%);
  }
}
@media screen and (min-width: 569px) and (max-height: 375px) {
  .col--blue-right-slanted {
    margin-top: -383px;
  }
}
.zone {
  position: relative;
}
.zone--dark {
  background-color: #020202;
  border-bottom: 8px solid #484848;
  border-top: 8px solid #484848;
  color: #ffffff;
  min-height: 300px;
  position: relative;
}
.zone--light {
  background-color: #ffffff;
  color: #484848;
}
.footer {
  background-color: #484848;
  padding: 32px 0;
}
.footer__content {
  align-content: space-between;
  display: flex;
}
.footer__copyright {
  width: 100%;
  margin-top: 16px;
}
@media only screen and (min-width: 668px) {
  .footer__copyright {
    margin-top: 0;
    text-align: right;
  }
}
.hero {
  background-color: black;
  border-top: 8px solid #dc0203;
  width: 100%;
}
.hero__image {
  animation: fadein 5s;
  background-image: linear-gradient(to right, #000000 0%, rgba(255, 255, 255, 0) 49%, #000000 100%), url('/assets/img/scoreboard-kometa-hradec.jpg');
  background-position: center center;
  background-size: cover;
  height: 440px;
  margin: 0 auto;
  width: 100%;
  margin: 0 -10px;
}
.hero__headline {
  bottom: 32px;
  font-size: 22px;
  font-weight: 300;
  line-height: 1.4;
  margin: 0;
  padding: 2px 0;
  position: absolute;
  z-index: 33;
}
.hero__headline-row {
  background-color: #30649d;
  box-decoration-break: clone;
  color: #fff;
  display: inline;
  padding: 16px 12px;
}
.hero__headline-row:nth-of-type(2) {
  display: table;
  font-size: 18px;
}
@media only screen and (min-width: 569px) {
  .hero__headline {
    font-size: 30px;
  }
}
@media only screen and (min-width: 1024px) {
  .hero__image {
    background-position: center right;
    width: 740px;
  }
  .hero__headline {
    bottom: -55px;
    font-size: 40px;
    right: 200px;
  }
  .hero__headline-row {
    padding: 16px;
  }
}
@media screen and (min-width: 569px) and (max-height: 375px) {
  .hero__image {
    height: 375px;
  }
}
@media screen and (min-width: 320px) and (max-height: 320px) {
  .hero__image {
    height: 320px;
  }
}
.logos {
  animation: fadein 6s;
  margin-left: auto;
  width: 100%;
}
@media only screen and (min-width: 668px) {
  .logos {
    width: 80%;
  }
}
.logo {
  text-align: center;
}
.logo svg {
  max-width: 100%;
}
.logo--team {
  float: left;
  margin-bottom: 48px;
  margin-top: 48px;
  width: 100%;
}
.logo--creator {
  float: left;
  margin-top: 36px;
  width: 50%;
}
.benefits {
  animation: fadein 6s;
  margin-bottom: 100px;
  margin-top: 32px;
}
.benefit {
  font-size: 16px;
  line-height: 1.4;
}
.benefit__list {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-weight: 300;
  margin: 0;
  padding: 0;
  padding-left: 30px;
}
.benefit + .benefit {
  margin-top: 16px;
}
.benefit__text {
  display: block;
}
@media only screen and (min-width: 668px) {
  .benefit {
    font-size: 21px;
  }
}
.use-cases {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}
.use-case {
  font-size: 0;
  position: relative;
}
.use-case__image {
  animation: fadein 2s;
}
.use-case__figure {
  background-color: rgba(54, 127, 196, 0.8);
  bottom: 0;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.4;
  padding: 16px;
  position: absolute;
  text-align: center;
  transition: 0.2s background-color ease-in-out;
  width: 100%;
}
.use-case--third .use-case__figure {
  font-size: 16px;
  line-height: 1.4;
}
.use-case:hover .use-case__figure {
  background-color: #367fc4;
}
@media only screen and (min-width: 668px) {
  .use-case__figure {
    padding: 54px;
    font-size: 28px;
    line-height: 1.2;
  }
  .use-case--third .use-case__figure {
    font-size: 20px;
    line-height: 1.3;
    padding: 48px;
  }
  .use-case--half {
    min-height: 465px;
    width: 50%;
  }
  .use-case--third {
    min-height: 306px;
    width: 33.3333%;
  }
}
.contact {
  margin-bottom: 200px;
  margin-top: 32px;
}
.show-more {
  animation: fadein 12s;
  margin: 100px auto;
}
@media only screen and (min-width: 668px) {
  .show-more {
    padding-left: 20%;
    text-align: right;
  }
}
.btn {
  background: #cccccc;
  border-radius: 5px;
  border: none;
  box-shadow: 0 6px #950303;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  letter-spacing: 1px;
  margin-top: 16px;
  outline: none;
  padding: 16px 32px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  transition: none;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}
.btn--primary {
  background: #dc0203;
}
.btn--primary:hover {
  box-shadow: 0 4px #950303;
  top: 2px;
}
.btn--primary:active {
  box-shadow: 0 0 #950303;
  top: 6px;
}
.btn--ghost-blue {
  background-color: transparent;
  border: 2px solid #30649d;
  box-shadow: none;
  color: #30649d;
  transition: 0.3s all ease-in-out;
}
.btn--ghost-blue:hover {
  box-shadow: -17px 0px 40px #ffffff;
  top: 1px;
}
@media only screen and (min-width: 1024px) {
  .btn {
    padding: 16px 80px;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
